#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Queuescreen
Exec=sh /home/pi/qmed-utils/queuescreen/bin/screen.sh
Icon=chrome-kmnjmjbjmneelmflnnldpeekjdmbdhci-Default
StartupWMClass=crx_kmnjmjbjmneelmflnnldpeekjdmbdhci
